<button
  class="btn custom-topic-button"
  style={{siteSettings.falcon_aid_topic_button_css_style}}
  title={{siteSettings.falcon_aid_topic_button_title}}
  {{action "clickButton"}}>{{siteSettings.falcon_aid_topic_button_label}}</button>
<button
  class="btn custom-topic-button"
  style={{siteSettings.falcon_aid_topic_button_css_style2}}
  title={{siteSettings.falcon_aid_topic_button_title2}}
  {{action "clickButton2"}}>{{siteSettings.falcon_aid_topic_button_label2}}</button>
